.print-div {
  position: absolute;
  top: 0;
  display: none;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 6mm; /* Adjust margins if necessary */
  }

  table {
    width: 100%;
    table-layout: fixed;
    font-size: 10pt; /* Adjust font size if needed */
    border-collapse: collapse; /* Ensure borders are collapsed */
  }

  .print-div {
    top: 0;
    left: 0;
    display: block; /* or flex depending on your layout */
  }

  th,
  td {
    width: 75px;
    text-wrap: wrap;
    border: 1px solid black; /* Optional: adds border to table */
    text-align: left; /* Align text to the left */
  }
  tfoot {
    font-weight: bold;
  }
  th {
    height: 50px;
  }

  .print-heading {
    height: 40px;
  }
  .page-break {
    page-break-after: always;
  }

  .page-footer {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }

  .page-break {
    page-break-after: always; /* Ensures a page break after this element */
  }
}
