/* src/App.css */

.App {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 9fr; /* Sidebar takes 3 columns, MainContent takes the rest */
  gap: 0px; /* No gap between columns */
  padding: 0;
  box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}

/* Ensures that the direct children of .App follow the grid rules */
.grid-container {
  display: contents;
}

.sidebar {
  background-color: honeydew;
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
  height: 100%; /* Ensure full height */
}

.main-content {
  background-color: wheat;
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
  height: 100%; /* Ensure full height */
}
